@charset "utf-8";
/* CSS Document */

body {
 position: relative;	
}

/* FIRST HEADER STYLES */

header {
	width: 100%;
	margin: 0 auto;	
	background-color: #8dcdc1;
	border-bottom: dashed 3px #eb6e44;
	border-top: solid #eb6e44 1px;
}

/* end header styles */

/* inner header styles */

.inner-header {
	max-width: 1400px;
	min-width: 900px;	
	margin: 0 auto;
}

/*end inner header styles */

/* logo styles */

.logo {
	padding-top: 20px;
	padding: 10px;	
	float: left;		
}

.logo h1 {
	padding-top: 20px;
	padding-left: 30px;
	font-family: 'Asset', cursive;	
	color: #fff5c3;
	text-shadow: 
	-1px -1px 0 #7c786a,  
    1px -1px 0 #7c786a,
    -1px 1px 0 #7c786a,
     1px 1px 0 #7c786a;
}


	#infinity-logo {
		position: relative;
		width: 180px;
		height: 80px;
		margin-top: 25px;
	}

	#infinity-logo:before,
	#infinity-logo:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width:	80px;
		height: 80px;
		border: 10px solid #EB6E44;
		-moz-border-radius: 50px 50px 0 50px;
		border-radius: 50px 50px 0 50px;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	#infinity-logo:after {
		left: auto;
		right: 0;
		-moz-border-radius: 50px 50px 50px 0;
		border-radius: 50px 50px 50px 0;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	
	nav {
		width: 700px;
		float: right;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	nav li {
		display: inline;	
	}

	nav a {
		display: block;
		float: left;
		text-decoration: none;
		background-color: #d3e397;
		color: #7c786a;
		width: -moz-calc( (90% / 4) - ((0px * 3) / 4) );
		width: -webkit-calc( (90% / 4) - ((0px * 3) / 4) );
		width: calc( (90% / 4) - ((0px * 3) / 4) );
		text-align: center;
		height: 158px;
		border-radius: 50%;
		margin-right: 10px;
		padding-top: 20px;
		border: solid 3px #eb6e44;
		font-family: 'Asset', cursive;
	}
	
	header .bt {
		font-size: 5em;
	}

	
	nav a:hover {
		color: #eb6e44; 
		border: dotted 3px #d3e397;
		background-color: #7c786a;
	}

	li:nth-child(4) > a {
		margin-right: 0;
		padding-top: 30px;
		font-size: 5.5em;
	}
	
#top1, #top2, #top3, #top4 {
	cursor: pointer;
}

	

/* end FIRST HEADER STYLES */



/* FIXED HEADER STYLES */

.header {
	width: 100%;
	margin: 0 auto;	
	background-color: #8dcdc1;
	border-bottom: dashed 3px #eb6e44;
	position: absolute;
	top: 0px;
	left: 0;
}


/* inner header styles */

.inner-header {
	max-width: 1400px;
	min-width: 900px;	
	margin: 0 auto;
}

/*end inner header styles */

/* logo styles */

.header .logo {
	padding: 10px;	
	float: left;		
}

.header .logo h1 {
	padding-left: 0;	
}


.header	#infinity-logo {
		position: relative;
		width: 90px;
		height: 40px;
		margin-top: 10px;
		margin-left: 15px;
	}

.header	#infinity-logo:before,
.header	#infinity-logo:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width:	40px;
		height: 40px;
		border: 5px solid #EB6E44;
		-moz-border-radius: 50px 50px 0 50px;
		border-radius: 50px 50px 0 50px;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

.header	#infinity-logo:after {
		left: auto;
		right: 0;
		-moz-border-radius: 50px 50px 50px 0;
		border-radius: 50px 50px 50px 0;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	
.header	nav {
		width: 700px;
		float: right;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 200px;
	}

.header	nav li {
		display: inline;	
	}

.header	nav a {
		display: block;
		float: left;
		text-decoration: none;
		background-color: #d3e397;
		color: #7c786a;
		width: 100px;
		text-align: center;
		height: 100px !important;
		border-radius: 50%;
		margin-right: 10px;
		padding-top: 20px;
		border: solid 3px #eb6e44;
		font-size: 13px;
	}

.header	li:nth-child(4) > a {
		margin-right: 0;
		padding-top: 17px;
		font-size: 3.5em !important;
	}
	
.big-text {
	font-size: 2em;
}
	
.header	nav a:hover {
		color: #eb6e44; 
		border: dotted 3px #d3e397;
		background-color: #7c786a;
	}

.header	.active {
		color: #eb6e44 !important;
		text-decoration: underline !important;
		border: dotted 3px #d3e397;
		background-color: #7c786a;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

/* end logo styles */

