@charset "utf-8";
/* CSS Document */

/* general layout */

.tutorial {
	width: 100%;
	margin: 0 auto;	
	background-color: #fff5c3;
}

.inner-tut {
	min-width: 960px;
	max-width: 1300px;
	margin: 0 auto;	
}

/* end general layout */

/* home section styles */

.inner-home {
	min-width: 960px;
	max-width: 1300px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
}

.title-hp h1 {
	font-family: 'Asset', cursive;	
	color: #8dcdc1;
	text-align: center;
	padding-bottom: 10px;
	font-size: 2.5em;
	font-weight: bold;
}

.article-hp {
	color: #7c786a;	
	font-size: 1.3em;
	line-height: 1.2em;
	padding-top: 10px;
}

.article-hp p {
	padding-bottom: 10px;
}

.article-hp ol {
	list-style-type: decimal;
	width: 80%;
	margin: 0 auto;
}

.article-hp li {
	padding-top: 10px;	
}

.article-hp li a {
	text-decoration: underline;		
}

.first-word {
	font-family: 'Asset', cursive;	
	color: #eb6e44;
}

.line {
	color: #d3e397;
	font-weight: bold;
	font-family: 'Asset', cursive;
	color: #eb6e44;	
}

/* tutorial header styles */



.tut-title {
	text-align: center;
	font-family: 'Merriweather', serif;	
	color:#7c786a;
	font-size: 1.8em;
	padding-top: 55px;
	font-weight: bold;
}

.tut-title h1 {
	padding-bottom: 10px;
}

/* end tutorial header styles */


/* tutorial styles */

.tut-intro {
	color: #7c786a;	
	font-size: 1.3em;
	line-height: 1.2em;
	padding-bottom: 20px;
	padding-top: 40px;
}

.tut-intro p {
	padding-top: 20px;
}

/* end tutorial styles */

/* step styles */

.tut-steps {
	padding-bottom: 20px;
	color: #7c786a;	
	font-size: 1.3em;
	line-height: 1.2em;
}

.tut-steps h1 {
	text-align: center;
	font-family: 'Merriweather', serif;	
	color:#eb6e44;
	font-size: 1.8em;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 20px;
}


.tut-steps ol {
	list-style-type: decimal;
	width: 80%;
	margin: 0 auto;
}

.tut-steps li {
	padding-top: 10px;	
}

.tut-steps li a {
	text-decoration: underline;		
}

/* end step styles */

/* code-example styles */

.code-examples {
	padding-bottom: 20px;
	width: 85%;
	margin: 0 auto;	
}

.code-examples h1 {
	color: #7c786a;	
	font-size: 1.3em;
	line-height: 1.2em;	
	font-weight: bold;
}

.code-examples h1, .plus {
	cursor: pointer;	
}

.code {
	color: #eb6e44;
}

/* end code example styles*/


/* slider demo styles */

.slider-demo {
	margin-bottom: 30px;
}

.slider-demo h1{
	text-align: center;
	font-family: 'Merriweather', serif;	
	color:#eb6e44;
	font-size: 1.8em;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 20px;
}

.cycle-slideshow {
	margin: 0 auto;
	width: 700PX;
}

.cycle-prev, .cycle-next { 
	position: absolute; 
	top: 0; 
	width: 8%; 
	opacity: 0; 
	filter: alpha(opacity=0); 
	z-index: 800; 
	height: 100%; 
	cursor: pointer; 
}

.cycle-prev { 
	left: 0;  
	background: url(http://malsup.github.com/images/left.png) 50% 50% no-repeat;
}

.cycle-next { 
	right: 0; 
	background: url(http://malsup.github.com/images/right.png) 50% 50% no-repeat;
}

.cycle-prev:hover, 
.cycle-next:hover { 
	opacity: .7; 
	filter: alpha(opacity=70) 
}

.cycle-overlay { 
	font-family: tahoma, arial;
	position: absolute; 
	bottom: 0; 
	width: 100%; 
	z-index: 600;
	background: #7c786a; 
	color: white; 
	padding: 15px; 
	opacity: .7;
}


/* end demo styles */



/* lightbox demo */

.lightbox-demo h1 {
	text-align: center;
	font-family: 'Merriweather', serif;	
	color:#eb6e44;
	font-size: 1.8em;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 20px;	
}

.lightbox-demo p {
	color: #7c786a;
	font-size: 1.3em;
	line-height: 1.2em;
	padding-bottom: 20px;
	padding-top: 20px;	
}

.lightbox {
	margin: 0 auto;	
	width: 810px;	
	padding: 17px;
	background-color: #d3e397;
	border: 3px solid #7c786a;
}

.lightbox img {
	padding: 5px;
	border: 2px solid #7c786a;
	background-color: #fff;
	opacity: 0.7;
}

.lightbox img:hover {
	opacity: 1;
	-ms transform: scale(1.02);
	-webkit-transform: scale(1.02);
	-o-transform: scale(1.02);
	transform: scale(1.02);
}

/* contact styles */

.contact-form p	{
	text-align: center;
	padding-bottom: 20px;
}

.general_info {
	padding
}

.general_info input {
	width: 250px;
}


.general_info, .add_info {
	width: 700px;
	margin: 0 auto;
	
}



 
 